body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}

/* ... Estilos anteriores ... */

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.planta-container {
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre plantas */
}

.planta img {
    max-width: 100%;
    height: auto;
}

.planta h3 {
    margin: 10px 0;
}
